@keyframes circulo {
    
    0% {
        border-radius: 20px;
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }

    25% {
        border-radius: 100%;
        background-color: blue;
      
    }

    50% {
        border-radius: 20px;
        transform: scale(2.5) rotate(360deg);
    }

    100% {
        border-radius: 100%;
        background-color: red;
        transform: scale(1.3);
        opacity: 0;
    }
}


.cuadrado {
  width: 400px;
  height: 400px;
  background-color: blueviolet;
  animation-name: circulo;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}

.flex { 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}


